<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${actor.name}">Детали актера</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<header>
    <form action="/search" method="get" class="search-form">
        <input type="text" name="query" placeholder="Поиск..." required>
        <select name="type">
            <option value="movie">Фильм</option>
            <option value="actor">Актёр</option>
            <option value="director">Режиссёр</option>
        </select>
        <button type="submit">Искать</button>
    </form>
</header>

<h1 th:text="${actor.name}">Имя актёра</h1>

<div class="content-container">
    <div class="content-image">
        <img th:src="@{${actor.photoUrl}}" alt="Фото актера"/>
    </div>
    <div class="content-details">
        <p><strong>Биография:</strong> <span th:text="${actor.bio}">Биография актера</span></p>
        <p><strong>Дата рождения:</strong> <span th:text="${actor.birthDate}">Дата рождения</span></p>
        <p th:if="${actor.deathDate != '-1'}"><strong>Дата смерти:</strong> <span th:text="${actor.deathDate}">Дата смерти</span></p>

        <p><strong>Фильмы:</strong>
            <span th:each="movie, stat : ${actor.movies}">
                <span th:text="${movie}"></span><span th:if="${!stat.last}">, </span>
            </span>
        </p>

        <a href="/home" class="back-button">Вернуться на главную</a>
    </div>
</div>

<footer>
    <p>&copy; 2024 Каталог фильмов</p>
</footer>
</body>
</html>
