<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>

<header>
    <!-- Поисковая строка -->
    <form action="/search" method="get" class="search-form">
        <input type="text" name="query" placeholder="Search..." required>
        <select name="type">
            <option value="movie">Movie</option>
            <option value="actor">Actor</option>
            <option value="director">Director</option>
        </select>
        <button type="submit">Search</button>
    </form>

    <!-- Кнопка "Create a movie", отображается только для админов -->
    <div class="create-movie-button" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
        <a href="/admin/dashboard" class="dashboard-link">Admin dashboard</a>
    </div>
</header>

<main>
    <h1>Random Movies</h1>

    <!-- Горизонтальная карусель фильмов -->
    <div class="carousel-container">
        <!-- Перебор случайных фильмов -->
        <div class="carousel-item" th:each="movie : ${movies}">
            <img th:src="@{${movie.posterUrl}}" alt="Movie Poster">
            <h3 th:text="${movie.title}"></h3>
        </div>
    </div>
</main>

<footer>
    <p>&copy; 2024 Movie Catalog</p>
</footer>

</body>
</html>
