<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${movie.title}">Movie Details</title>
</head>
<body>
<h1 th:text="${movie.title}">Movie Title</h1>

<div>
    <img th:src="@{${movie.posterUrl}}" alt="Movie Poster"/>
    <p><strong>Description:</strong> <span th:text="${movie.description}">Description of the movie</span></p>
    <p><strong>Release Date:</strong> <span th:text="${movie.releaseDate}">Release Date</span></p>
    <p><strong>Duration:</strong> <span th:text="${movie.duration}">Duration</span> minutes</p>
    <p><strong>Genres:</strong>
        <span th:each="genre : ${movie.genres}" th:text="${genre}">Genre</span>
    </p>
    <p><strong>Actors:</strong>
        <span th:each="actor : ${movie.actors}" th:text="${actor}">Actor</span>
    </p>
    <p><strong>Directors:</strong>
        <span th:each="director : ${movie.directors}" th:text="${director}">Directors</span>
</div>

<a href="/movies">Back to movies</a>
</body>
</html>
